.pagination{

    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: black;
            }
        }
    }
}

.pagination__item{
    display: flex;
    a {
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        padding: 10px;
        margin-right: 7px;
        width: 40px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-weight: 600;
        color: black;
        &:hover {

        }
    }


}